{% extends 'base.html' %}
{% block content %}

    <div class="container">

        {% for article in articles %}
            <div class="col-md-12">
                <div class="post post-row">
                    <a class="post-img" href="{{ article.url }}"><img src="{{ article.urlToImage }}" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="#">{{ article.source.name }}</a>
                            <span class="post-date date">{{ article.publishedAt }}</span>
                        </div>
                        <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                        <p>{{ article.description }}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}