{% extends 'base.html' %}

{% block content %}
		<div class="section">
			<div class="container">
				<div class="row w-100">
                    {% for article in top_headlines[:4] %}
					<div class="col-md-6">
						<div class="post post-thumb">
							<a class="post-img" target="_blank" href="{{ article['url'] }}"><img src="{{ article['urlToImage'] }}" alt=""></a>
							<div class="post-body">
                                <div class="post-meta">
									<a class="post-category cat-2" href="#"> {{ article['source']['name'] }}</a>
									<span class="post-date" >
                        </span>
								</div>
								<h3 class="post-title"><a target="_blank"  href="{{ article['url'] }}">{{ article['title'] }}</a></h3>
							</div>
						</div>
					</div>
                    {% endfor %}

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Business News</h2>
						</div>
					</div>
                    {% for article in business_news[:6] %}
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" target="_blank" href="{{ article['url'] }}"><img src="{{ article['urlToImage'] }}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-1" href="#">{{ article['source']['name'] }}</a>
									<span class="post-date date">{{ article['publishedAt'] }}
                                    </span>
								</div>
								<h3 class="post-title"><a target="_blank" href="{{ article['url'] }}">{{ article['title'] }}</a></h3>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>

			</div>
		</div>
		<div class="section section-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Sports Posts</h2>
						</div>
					</div>
                    {% for article in sports_news[:6] %}
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" target="_blank" href="{{ article['url'] }}"><img src="{{ article['urlToImage'] }}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-2" href="#">{{ article['source']['name'] }}</a>
									<span class="post-date date">{{ article['publishedAt'] }}</span>
								</div>
								<h3 class="post-title"><a target="_blank" href="{{ article['url'] }}">{{ article['title'] }}</a></h3>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title">
									<h2>Most Read</h2>
								</div>
							</div>
							{% for article in top_headlines[:5] %}
                            <div class="col-md-12">
						<div class="post post-row">
							<a class="post-img" target="_blank" href="{{ article['url'] }}"><img src="{{ article['urlToImage'] }}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-2" href="#">{{ article['source']['name'] }}</a>
									<span class="post-date date">{{ article['publishedAt'] }}</span>
								</div>
								<h3 class="post-title"><a target="_blank" href="{{ article['url'] }}">{{ article['title'] }}</a></h3>
                                <p>{{ article['description'] }}</p>

							</div>
						</div>
					</div>
                            {% endfor %}
						</div>
					</div>

				</div>
			</div>
		</div>
{% endblock %}